html,
body {
  background-color: #1C1C1C;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  width: 100%;
  /* max-height: 800px; */
  margin: 0 auto;
  background-color: #23252C;
  /* background-color: white; */
  padding: 18px 116px;
}

.container {
  display: flex;
  max-height: 780px;
  max-width: 317px;
  width: 100%;
  flex-direction: column;
  background-color: #F5F5F5;
  align-content: center;
  margin: 0 auto;
}

.profile-pic {
  display: flex;
  max-width: 317px;
  height: 280px;
  width: 100%;
  background-color: #6a6a6a;
}


.name {
  color: #2B283A;
  text-align: center;
  font-size: 1.5rem;
  margin: 20px 6px auto;
}

.job-title {
  color: #F47D27;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0 auto;
}

.p-web {
  color: #4A4E74;
  text-align: center;
  font-size: 0.64rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 0 auto 15px;

}

.div-btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
}


.btn-col {
  background-color: #297FE5;
  color: #FFF;
}

button {
  width: 115px;
  /* padding: 0.75em 1.5em; */
  padding: 9px 13px 9px 11px;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1rem;
  display: flex;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  border: 1px solid var(--gray-300, #D1D5DB);
  background: var(--white, #FFF);
}

button img {
  margin-right: 6px;
}

.about-desc,
.about-heading,
.interests-heading,
.interests-desc {
  padding: 0 20px;
  text-align: left;
}

.about-desc {
  margin-top: 0;
  /* margin-bottom: 1.6875em; */
  color: #4A4E74;
  font-size: 0.64rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.about-heading {
  margin-bottom: 0;
  color: #2B283A;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.interests-heading {
  margin-bottom: 0;
  color: #2B283A;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-top: 0;
}

.interests-desc {
  margin-top: 0;
  padding-bottom: 2.45em;
  color: #4A4E74;
  font-size: 0.64rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 0.25em;
}

.div-icon {
  display: flex;
  width: 317px;
  height: 64px;
  justify-content: center;
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  background-color: #D5D4D8;
}

.div-icon img {
  width: 25px;
  height: 25px;
  color: #918E9B;
  align-self: center;
  margin-right: 1.25em;
}
@media screen and (max-width: 400px) {


  body {
    height: 93vh;
  }

  #root{
    max-width: 400px;
    width: 100%;
    padding: 0;
    /* background-color: red; */
    height: 93vh;
  }
  .container {
    max-width: 400px;
    width: 100%;
    border: 1px solid black;
    height: 93vh;
  }
.profile-pic{
  width: 175px;
  height: 175px;
  border-radius: 25%;
}
.image-div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* border: 1px solid #56041415; */
  height: 35vh;
  background-color: #D5D4D8;
}
.div-icon{
  width: 100%;
  margin-top: auto;
  height: 10vh;
}
.div-icon img {
  width: 2em;
  height: 2em;
}

button{
  width: 150px;
  padding: .75em 2.5em;
}
.name{
  margin: 1em  auto 0;
}
.interests-desc,.about-desc {
  font-size: 0.75rem;
}
.interests-desc {
  padding-bottom: 0;
  margin-bottom: 0;
}

}
